.bar-title
  %h2.pull-left= t('model.kinds')
  .btn-group.pull-right
    = link_to new_kind_path, :class => 'btn btn-default', :title => t('kind.new') do
      %span.fa.fa-plus

#kinds.partial
  = render :partial => 'listing', :locals => {:kinds => @kinds}



