.row.bar
  .col-md-8
    .title.pull-left= t('model.artists')
  .col-md-4
    .btn-group.pull-right
      = link_to new_artist_path, :class => 'btn btn-default', :title => t('artist.new') do
        %span.fa.fa-plus

#artists.partial
  = render :partial => 'listing', :locals => {:artists => @artists}


