.row.bar
  .col-md-8
    .title.pull-left= t('model.types')
  .col-md-4
    .btn-group.pull-right
      = link_to new_type_path, :class => 'btn btn-default', :title => t('type.new') do
        %span.fa.fa-plus

#types.partial
  = render :partial => 'listing', :locals => {:types => @types}



