.row.bar
  .col-md-8
    .title.pull-left= t('model.albums')
  .col-md-4
    .btn-group.pull-right
      = link_to new_album_path, :class => 'btn btn-default', :title => t('album.new') do
        %span.fa.fa-plus

#albums.partial
  = render :partial => 'listing', :locals => {:albums => @albums}

.player
  = render :partial => 'player'

