.bar-title
  %h2.pull-left= t('model.albums')
  .btn-group.pull-right
    = link_to new_album_path, :class => 'btn btn-default', :title => t('album.new') do
      %span.fa.fa-plus

#albums.partial
  = render :partial => 'listing', :locals => {:albums => @albums}

.player
  = render :partial => 'player'

