%legend
  %h2= @album.name

.well
  .col-lg-12
    = text_field_tag :q, nil, :placeholder => t('song.search'), :class => 'form-control search_songs'

%ul.media-list#sortable_songs{url: sort_album_path(@album)}
  - @album.albums_songs.each do |as|
    = render partial: 'song', locals: {song: as.song, albums_song: as}
