.row.bar
  .col-md-8
    .title.pull-left= t('model.playlists')
  .col-md-4
    .btn-group.pull-right
      = link_to new_playlist_path, :class => 'btn btn-default', :title => t('playlist.new') do
        %span.fa.fa-plus

#playlists.partial
  = render :partial => 'listing', :locals => {:playlists => @playlists}

- content_for :player do
  = render :partial => 'player'

