%legend
  %h2= @playlist.name

.well
  .col-lg-12
    = text_field_tag :q, nil, :placeholder => t('song.search'), :class => 'form-control search_songs'

%ul.media-list#sortable_songs{url: sort_playlist_path(@playlist)}
  - @playlist.playlists_songs.each do |ps|
    = render partial: 'song', locals: {song: ps.song, playlists_song: ps}
