.row.bar
  .col-md-8
    .title.pull-left= t('model.parameters')
  .col-md-4
    .btn-group.pull-right
      = link_to new_parameter_path, :class => 'btn btn-default', :title => t('parameter.new') do
        %span.fa.fa-plus

#parameters.partial
  = render :partial => 'listing', :locals => {:parameters => @parameters}



